**/lib4d-arm64.dylib
msoffice/test/Resources/*
msoffice/test/Data/*
msoffice/test/Project/DerivedData/*
msoffice/test/userPreferences.*
msoffice/.vs/*
msoffice/Objs/*
msoffice/build/*
.vs/*
test/Plugins/MSOFFICE.bundle/Contents/Windows64/MSOFFICE.exp
test/Plugins/MSOFFICE.bundle/Contents/Windows64/MSOFFICE.lib
Objs/*
